.App{
  min-height: 75vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  left: 20px;
  margin-top: 20px;
  flex-wrap: wrap;
}

.Pic img {
  width: 500px;
  max-width: 90%;
  display: block;
  margin: auto;
}

.Info h1, p{
  color: white;
  text-align: center;
}