.pageHolder {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}

.react-pdf__Document {
  display: flex;
  justify-content: center;
  height: 70% !important;
  width: 70% !important;
}

.resumeIMG {
  width: 90%;
}

@media only screen and (max-width: 900px) {
  .react-pdf__Page {
    height: 100% !important;
    width: 100% !important;
  }

  .resumeSVG {
    display: none;
  }

  .resumeIMG {
    display: block;
  }
}

@media only screen and (min-width: 900px) {
  .resumeIMG {
    display: none;
  }
}
